@use '../styles/mixins' as custom-mixins;

mat-toolbar {
  @include custom-mixins.mat-theme-transition();
  display: flex;
  justify-content: space-between;

}

mat-sidenav-container {
  @include custom-mixins.mat-theme-transition();
  height: calc(100vh - 64px);
  background-color: grey;

  mat-sidenav {
    @include custom-mixins.mat-theme-transition();
    padding: 16px;
  }
}
